#topbaar{
    background-color: #779ecb; 
    padding: 24px;
}
.item{
    font-size: 24px;
    padding: 8px;
    font-weight: 600;
}
#heading{
    font-size: 20px;
    padding-left: 24px ;
}
.fooditems{
    font-size: 20px;
}
.image{
    width:300px;
    height: 300px;
    
}
.allign{
    text-align: center;
}